# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
build/
dist/

# Large AI Data & Models
data/workers/*
!data/workers/.gitkeep
data/captures/*
!data/captures/.gitkeep
data/*.db
data/*.pkl
models/*.pt
models/*.onnx
experiments/*/runs/
experiments/*/datasets/
runs/

# Logs & Misc
*.log
error_log.txt
.vscode/
.idea/
.ipynb_checkpoints/
scratch/

# Large Files & Untracked Dirs
*.mp4
*.zip
*.pt
artifacts/
skripsi/
rtsp_test/
test_rtsp.py
web_app/data/captures/
experiments/*/train/
experiments/*/valid/
experiments/*/test/
*.backup

web_app/*.key
web_app/*.db

