# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
build/
dist/

# Large AI Data & Models
data/workers/*
!data/workers/.gitkeep
data/captures/*
!data/captures/.gitkeep
data/*.db
data/*.pkl
models/*.pt
models/*.onnx
experiments/*/runs/
experiments/*/datasets/
runs/

# Logs & Misc
*.log
error_log.txt
.vscode/
.idea/
.ipynb_checkpoints/
scratch/
